<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- Title of the current page will appear in some browser tabs -->
    <title>Earhart</title>
    <!-- Done so that the website renders properly on phones -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Is used as a part of the snippet shown in the search results -->
    <meta name="description" content="Home page of Earhart">
    <!-- Icons used all over the place -->
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='icon.png') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- Link to CSS, should be boostrap and a css with any special changes -->
    <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap-4.0.0.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='mystyle.css') }}">
    <!-- Link to JavasScript, should be boostrap, jquery, and any additional js files -->
    <script src="{{ url_for('static',filename='jquery-3.2.1.js') }}"></script>
    <script src="{{ url_for('static',filename='bootstrap-4.0.0.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
</head>
<body>
{% include 'header.html' %}
<div class='row mid'>
    <div class=col-4></div>
    <div class="col-4 titlemid">The ultimate recommender system explorer</div>
    <div class=col-4></div>
</div>
<div class='row'>
    <div class=col-4></div>
    <div class="col-4 descr">An easy-to-use application, to explore the wondrous world of recommendation algorithms. <br> By students, for data scientists.
    </div>
    <div class=col-4></div>
</div>
</body>
</html>
