<nav id="sidenav-top-bar" class="navbar bg-light d-block d-md-none">
    <!-- In case of issues replace with &#9776-->
    <div id="sidenav-toggle-button">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</nav>
<div id="sidenav" class="col-md-2 col-sm-12 bg-light  d-none d-md-block">
    <a href="/user/" class="sidenav-logo">Earheart</a>
    <a href="/user/datasets">Datasets</a>
    <a href="/user/scenarios">Scenarios</a>
    <a href="/user/models">Models</a>
    <a href="/user/experiments">Experiments</a>
    <ul id="logout_sidebar_button" class="nav nav-sidebar">
      <li><a href="/logout">Logout</a></li>
  </ul>
    <!-- Optional <a href="#">Settings</a>-->
</div>

